@using MIDS207_Project.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/Plugin/LoadingPoints/css/spin3bounce.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="div-header">
                <img class="image-logo" src="~/Resources/Images/Image_CPDS_Logo.png" alt="CPDS Logo" longdesc="https://www.cpds.edu.mx" />
                <div class="header-title">
                    <h1><strong>@Resource.Title1</strong></h1>
                    <h2><strong>@Resource.Title2</strong></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-left">&copy; @DateTime.Now.Year - @Resource.Footer_Title1</p>
            <p class="pull-right">@Resource.Title2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/Plugin/LoadingPoints/js/spin3bounce.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
