@using MIDS207_Project.Resources

@{
    ViewBag.Title = "Alumnos";
    string urlWebApi = System.Configuration.ConfigurationManager.AppSettings["UrlWebApi"];
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet" />



<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" id="searchNav" href="#searchTab">@Resource.Student_Tab_Search</a></li>
    <li><a data-toggle="tab" id="studentNav" href="#studentTab">@Resource.Student_Tab_Student</a></li>
</ul>

<div class="tab-content">
    <div id="searchTab" class="tab-pane fade in active">
        <form id="searchForm" class="form-group" name="searchForm" role="form">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="input-group">
                            <input type="text" id="input-name-search" name="FirstNameSearch" class="form-control pull-right" placeholder="@Resource.Student_Search_Placeholder">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btnSearchStudents">@Resource.Student_Tab_Search2</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12"><br /></div>

                    <table id="tableStudents" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed table-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">@Resource.Student_Search_ThName</th>
                                <th class="text-center">@Resource.Student_Search_ThLastName</th>
                                <th class="text-center">@Resource.Student_Search_ThBirthDate</th>
                                <th class="text-center">@Resource.Student_Search_ThGender</th>
                                <th class="text-center">@Resource.Student_Search_ThStatus</th>
                                <th class="none">@Resource.Student_Search_ThEmail</th>
                                <th class="none">@Resource.Student_Search_ThPhoneNumber</th>
                                <th class="none">@Resource.Student_Search_ThRFC</th>
                                <th class="none">@Resource.Student_Search_ThCURP</th>
                                <th class="none">@Resource.Student_Search_ThState</th>
                                <th class="none">@Resource.Student_Search_ThCP</th>
                                <th class="none">@Resource.Student_Search_ThFiles</th>
                                <th class="text-center"></th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>



                </div>

            </div>

        </form>


    </div>
    <div id="studentTab" class="tab-pane fade">
        <form id="studentForm" class="form-group" name="studentForm" role="form" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h1 id="titleStudent">@Resource.Student_Add</h1>
                    </div>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>@Resource.Student_Fieldset</legend>
                        <input type="hidden" id="hdnStudentId" name="hdnStudentId" />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputFirstName">@Resource.Student_FirstName_Label</label>
                                <input class="form-control" id="inputFirstName" name="FirstName" type="text" required maxlength="50" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputMiddleName">@Resource.Student_MiddleName_Label</label>
                                <input class="form-control" id="inputMiddleName" name="MiddleName" type="text" maxlength="50" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputLastName">@Resource.Student_LastName_Label</label>
                                <input class="form-control" id="inputLastName" name="LastName" type="text" required maxlength="50" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputBirthDate">@Resource.Student_BirthDate_Label</label>
                                <input class="form-control" id="inputBirthDate" name="BirthDate" type="date" required />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputRFC">@Resource.Student_RFC_Label</label>
                                <input class="form-control" id="inputRFC" name="RFC" type="text" pattern="([Ñña-zA-Z]{3,4}[0-9]{6}[0-9a-zA-Z]{3})" title="@Resource.Student_RFC_Title" maxlength="13" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputCURP">@Resource.Student_CURP_Label</label>
                                <input class="form-control" id="inputCURP" name="CURP" type="text" pattern="([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0\d|1[0-2])(?:[0-2]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)" title="@Resource.Student_CURP_Title" maxlength="18" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputState">Estado</label>
                                <select class="form-control" id="inputState" name="State">
                                    <option value="">@Resource.Student_State_Placeholder</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="CDMX">Ciudad de México</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputPostalCode">@Resource.Student_CP_Label</label>
                                <input class="form-control" id="inputPostalCode" name="PostalCode" type="text" pattern="[0-9]{5}" title="@Resource.Student_CP_Placeholder" maxlength="5" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputGender">@Resource.Student_Gender_Label</label>
                                <select class="form-control" id="inputGender" name="Gender">
                                    <option value="">@Resource.Student_Gender_Placeholder</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputPhoneNumber">@Resource.Student_PhoneNumber_Label</label>
                                <input class="form-control" id="inputPhoneNumber" name="PhoneNumber" pattern="[1-9]{1}[0-9]{9}" title="@Resource.Student_PhoneNumber_Title" type="tel" maxlength="10" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputEmail">@Resource.Student_Email_Label</label>
                                <input class="form-control" id="inputEmail" name="Email" type="email" required maxlength="50" />
                            </div>

                            <div class="form-group form-check col-md-4">
                                <br />
                                <label class="form-check-input control-label" for="checkActive">
                                    @Resource.Student_Active_Label
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="checkActive">

                            </div>
                        </div>
                        <div class="col-md-12"></div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="inputFile1">@Resource.Student_File1_Label</label>
                                <input class="form-control" id="inputFile1" name="inputFile1" type="file" required />
                            </div>
                            <div class="form-group col-md-6 fileDownload">
                                <label class="control-label">@Resource.Student_ViewFile_Label</label> <br />
                                <a href="#" id="fileDownload1" name="fileDownload1" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="inputFile2">@Resource.Student_File2_Label</label>
                                <input class="form-control" id="inputFile2" name="inputFile2" type="file" required />
                            </div>
                            <div class="form-group col-md-6 fileDownload">
                                <label class="control-label">@Resource.Student_ViewFile_Label</label> <br />
                                <a href="#" id="fileDownload2" name="fileDownload2" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="inputFile3">@Resource.Student_File3_Label</label>
                                <input class="form-control" id="inputFile3" name="inputFile3" type="file" required />
                            </div>
                            <div class="form-group col-md-6 fileDownload">
                                <label class="control-label">@Resource.Student_ViewFile_Label</label> <br />
                                <a href="#" id="fileDownload3" name="fileDownload3" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputPassword">@Resource.Student_Password_Label</label>
                                <input class="form-control" id="inputPassword" name="Password" type="password" required maxlength="10" />
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="inputRepeatPassword">@Resource.Student_RepeatPassword_Label</label>
                                <input class="form-control" id="inputRepeatPassword" name="RepeatPassword" type="password" required maxlength="10" />
                            </div>
                        </div>

                    </fieldset>
                    <div class="row"></div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" id="btnSaveStudent" name="btnSaveStudent"><i class="glyphicon glyphicon-upload"></i>&nbsp;@Resource.Student_Save</button>
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <iframe id="frameFile" src="" width="800" height="600"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Student_Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

</div>



@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Scripts/jqueryDataTables_es-mx.js"></script>

    <script src="~/Assets/JavaScript/Student.js"></script>
    <script>

    </script>
    <script>
    $(document).ready(function () {

        var args = {
            UrlWepApi: '@urlWebApi',
            Messages: {
                Student_Add: '@Resource.Student_Add',
                Student_Active_Span: '@Resource.Student_Active_Span',
                Student_Inactive_Span: '@Resource.Student_Inactive_Span',
                Student_Delete_Title: '@Resource.Student_Delete_Title',
                Student_Edit_Title: '@Resource.Student_Edit_Title',
                Student_Confirm_Inactive: '@Resource.Student_Confirm_Inactive',
                Student_Yes_Confirm: '@Resource.Student_Yes_Confirm',
                Student_No_Confirm: '@Resource.Student_No_Confirm',
                Student_Message_Inactive: '@Resource.Student_Message_Inactive',
                Student_Edit: '@Resource.Student_Edit',
                Student_PasswordFormatCheck: '@Resource.Student_PasswordFormatCheck',
                Student_CanUseEmail: '@Resource.Student_CanUseEmail',
                Student_CanUseCURP: '@Resource.Student_CanUseCURP',
                Student_CanUseRFC: '@Resource.Student_CanUseRFC',
                Student_ConfirmAdd: '@Resource.Student_ConfirmAdd',
                Student_ConfirmUpdate: '@Resource.Student_ConfirmUpdate'
            }
        };

        MIDS207_Project.Student.npMainFunction(args);

    });

    </script>
}